variables:
  GIT_SUBMODULE_STRATEGY: recursive

cache: []

stages:
  - init
  - review
  # - test
  - build
  - deploy

include:
  - local: 'gitlab-ci.d/init.yml'
  - project: 'CSniper/ci-mgmt'
    file: 'gemini-code-review.yml'
    ref: 'main'


build:
  stage: build
  trigger:
    include:
      - artifact: gitlab-ci.d/container-build.yml
        job: generate-pipeline
    strategy: depend
  rules:
    - if: $CI_COMMIT_REF_PROTECTED == 'true'
    - if: $CI_PIPELINE_SOURCE == 'web'

tag:
  stage: deploy
  trigger:
    include:
      - artifact: gitlab-ci.d/container-tag.yml
        job: generate-pipeline
    strategy: depend
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
