build-{{ slurm_ver }}-amd64-image:
  stage: build
  timeout: 3h
  retry: 2
  hooks:
    pre_get_sources_script:
      - umask 0022
  image: quay.io/podman/stable:latest
  before_script:
    - podman login -u "${CI_REGISTRY_USER}" -p "${CI_REGISTRY_PASSWORD}" ${CI_REGISTRY}
  script:
{% if GITTAG is defined %}
    - dnf -y install git
    - git -C ${CI_PROJECT_DIR}/slurm fetch --tags
    - git -C ${CI_PROJECT_DIR}/slurm checkout {{ GITTAG }}
{% endif %}
    - TAG="${CI_REGISTRY_IMAGE}/slurm:${CI_COMMIT_SHORT_SHA}-{{ slurm_ver }}-${DISTRO}"
    - CONTAINERFILE="${DISTRO}/Containerfile"
    - ( podman pull ${TAG}-amd64 ) || ( podman build --squash -f ${CONTAINERFILE} -t ${TAG}-amd64 . && podman push --retry=5 ${TAG}-amd64 )
  parallel:
    matrix:
      - DISTRO:
        {%- for distro in distros %}
        - {{ distro }}
        {%- endfor %}

build-{{ slurm_ver }}-arm64-image:
  stage: build
  timeout: 3h
  retry: 2
  hooks:
    pre_get_sources_script:
      - umask 0022
  image: quay.io/podman/stable:latest
  before_script:
    - podman login -u "${CI_REGISTRY_USER}" -p "${CI_REGISTRY_PASSWORD}" ${CI_REGISTRY}
  script:
{% if GITTAG is defined %}
    - dnf -y install git
    - git -C ${CI_PROJECT_DIR}/slurm fetch --tags
    - git -C ${CI_PROJECT_DIR}/slurm checkout {{ GITTAG }}
{% endif %}
    - TAG="${CI_REGISTRY_IMAGE}/slurm:${CI_COMMIT_SHORT_SHA}-{{ slurm_ver }}-${DISTRO}"
    - CONTAINERFILE="${DISTRO}/Containerfile"
    - ( podman pull ${TAG}-arm64 ) || ( podman build --squash -f ${CONTAINERFILE} -t ${TAG}-arm64 . && podman push --retry=5 ${TAG}-arm64 )
  tags:
    - saas-linux-small-arm64
  parallel:
    matrix:
      - DISTRO:
        {%- for distro in distros %}
        - {{ distro }}
        {%- endfor %}

tag-{{ slurm_ver }}-multi-arch-image:
  stage: build
  timeout: 1h
  retry: 2
  hooks:
    pre_get_sources_script:
      - umask 0022
  image: quay.io/podman/stable:latest
  before_script:
    - podman login -u "${CI_REGISTRY_USER}" -p "${CI_REGISTRY_PASSWORD}" ${CI_REGISTRY}
  script:
    - TAG="${CI_REGISTRY_IMAGE}/slurm:${CI_COMMIT_SHORT_SHA}-{{ slurm_ver }}-${DISTRO}"
    - podman pull ${TAG}-amd64 ${TAG}-arm64
    - podman manifest create ${TAG} ${TAG}-amd64 ${TAG}-arm64
    - podman manifest push --all ${TAG}
  needs:
    - job: build-{{ slurm_ver }}-amd64-image
      parallel:
        matrix:
          - DISTRO: ['$[[ matrix.DISTRO ]]']
    - job: build-{{ slurm_ver }}-arm64-image
      parallel:
        matrix:
          - DISTRO: ['$[[ matrix.DISTRO ]]']
  parallel:
    matrix:
      - DISTRO:
        {%- for distro in distros %}
        - {{ distro }}
        {%- endfor %}
