#
# Example slurmdbd.conf file.
#
# See the slurmdbd.conf man page for more information.
#
# Archive info
#ArchiveJobs=yes
#ArchiveDir="/tmp"
#ArchiveSteps=yes
#ArchiveScript=
#JobPurge=12
#StepPurge=1
#
# Authentication info
#
# slurmDBD info
#DbdAddr=localhost
{% set dbd_hosts = SLURMDBD_HOSTS.split(',') %}
DbdHost={{ dbd_hosts[0] }}
{% if dbd_hosts | length > 1 %}
DbdBackupHost={{ dbd_hosts[1] }}
{% endif %}
#DbdPort=7031
SlurmUser=root
#MessageTimeout=300
DebugLevel=verbose
#DefaultQOS=normal,standby
LogFile=/var/log/slurm/slurmdbd.log
PidFile=/var/run/slurmdbd.pid
#PluginDir=/usr/lib/slurm
PrivateData={{ PRIVATEDATA | default("accounts,users,usage,jobs,reservations", true) }}
#TrackWCKey=yes
# Authentication
AuthType=auth/slurm
AuthInfo=use_client_ids
# Enable RS256 JWT With public key set
AuthAltTypes=auth/jwt
AuthAltParameters=jwks=/etc/slurm/jwks.json
# Database info
StorageType=accounting_storage/mysql
StorageHost={{ SLURMDBD_STORAGEHOST }}
#StoragePort=1234
StoragePass={{ MYSQL_PASSWORD }}
StorageUser={{ MYSQL_USER }}
StorageLoc={{ MYSQL_DATABASE }}

